body {
  margin: 0;
}

.navBar {
  font-size: xx-small;
  display: flex;
  gap: 20px;
}

.topNavBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid rgb(148, 30, 125);
  width: 100%;
}

h3 {
  font-size: xx-small;
  align-self: flex-start;
}

.first-Page {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(0, 85, 255);
  width: fit-content;
  height: fit-content;
  justify-content: center;
}
.first-Page__text {
  display: flex;
  flex-direction: column;
}
.first-Page__trueContainer {
  display: flex;
  border: 2px solid yellow;
  width: fit-content;
  gap: 20px;
}
.first-Page__middle {
  border: 2px solid green;
  display: flex;
  align-items: center;
  gap: 20px;
}
.first-Page__rightBadges {
  margin-top: 20px;
  display: flex;
  border: 2px solid black;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}
.first-Page__rightBadges img {
  height: 50px;
  width: 50px;
}
.first-Page__leftBadges {
  margin-top: 20px;
  display: flex;
  border: 2px solid black;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.first-Page__leftBadges img {
  height: 50px;
  width: 50px;
}
.first-Page__header {
  color: rgb(130, 69, 69);
  border: 2px solid black;
  align-self: flex-start;
}
.first-Page__myImage {
  border: 2px solid rgb(27, 31, 141);
  width: 30%;
  max-width: 200px;
  height: auto;
  flex-shrink: 0;
  max-width: 25vw;
  object-fit: contain;
}
.first-Page__tagline {
  border: 2px solid black;
}
