body {
  margin: 0;
}

.navBar {
  font-size: xx-small;
  display: flex;
  //justify-content: flex-end;
  gap: 20px;
}

.topNavBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid rgb(148, 30, 125);
  width: 100%;
}

h3 {
  font-size: xx-small;
  align-self: flex-start;
}

.first-Page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid rgb(0, 85, 255);
  //align-items: center;

  &__text {
    display: flex;
    //flex: 1;
    flex-direction: column;
  }

  &__trueContainer {
    display: flex;
    justify-content: space-between; // badges to edges
    width: 100%;
    gap: 20px; // minimum space between items
    border: 2px solid yellow;
    //justify-content: space-between;
    //max-height: 100%;
    //width: 100%;
    //min-height: 0;
  }

  &__middle {
    flex: 1; // takes all available space between badges
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    //min-height: 0;
  }
  &__rightBadges {
    margin-top: 20px;
    //height: 80%;
    flex-shrink: 0;
    display: flex;
    border: 2px solid black;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    //align-self: flex-start; //makes container shrink to fit content!
    //justify-self: flex-start;
    img {
      height: 50px;
      width: 50px;
    }
  }
  &__leftBadges {
    margin-top: 20px;
    //height: 80%;
    display: flex;
    flex-shrink: 0;
    border: 2px solid black;
    flex-direction: column;
    //align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    //makes container shrink to fit content!
    //justify-self: flex-start;
    img {
      height: 50px;
      width: 50px;
    }
  }

  &__header {
    color: rgb(130, 69, 69);
    border: 2px solid black;
    align-self: flex-start;
  }
  &__myImage {
    border: 2px solid rgb(27, 31, 141);
    //flex: 1;
    width: 30%;
    max-width: 200px;
    height: auto;
    flex-shrink: 0;
    max-width: 25vw;
    object-fit: contain;
    //min-height: 0;
  }
  &__tagline {
    border: 2px solid black;
  }
}

.second-Page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid rgb(0, 85, 255);
  //align-items: center;

  &__text {
    display: flex;
    //flex: 1;
    flex-direction: column;
  }

  &__trueContainer {
    display: flex;
    justify-content: space-between; // badges to edges
    width: 100%;
    gap: 20px; // minimum space between items
    border: 2px solid yellow;
    //justify-content: space-between;
    //max-height: 100%;
    //width: 100%;
    //min-height: 0;
  }

  &__middle {
    flex: 1; // takes all available space between badges
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    //min-height: 0;
  }
  &__rightBadges {
    margin-top: 20px;
    //height: 80%;
    flex-shrink: 0;
    display: flex;
    border: 2px solid black;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    //align-self: flex-start; //makes container shrink to fit content!
    //justify-self: flex-start;
    img {
      height: 50px;
      width: 50px;
    }
  }
  &__leftBadges {
    margin-top: 20px;
    //height: 80%;
    display: flex;
    flex-shrink: 0;
    border: 2px solid black;
    flex-direction: column;
    //align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    //makes container shrink to fit content!
    //justify-self: flex-start;
    img {
      height: 50px;
      width: 50px;
    }
  }

  &__header {
    color: rgb(130, 69, 69);
    border: 2px solid black;
    //align-self: flex-start;
    margin: 10px;
  }
  &__myImage {
    border: 2px solid rgb(27, 31, 141);
    //flex: 1;
    width: 30%;
    max-width: 200px;
    height: auto;
    flex-shrink: 0;
    max-width: 25vw;
    object-fit: contain;
    //min-height: 0;
  }
  &__blurb {
    border: 2px solid black;
    display: block;
    font-size: medium;
    margin: 10px;
  }
}

.third-Page {
  display: flex;
  border: 2px solid rgb(140, 62, 149);
  width: 100%;
  min-height: 100vh;

  &__firstCard {
    display: flex;
    width: fit-content;
    border: 33px solid rgb(31, 255, 57);
  }
  &__secondCard {
    display: flex;
    width: fit-content;
    border: 33px solid rgb(31, 255, 57);
  }
  .cardHeader {
    display: flex;
    width: fit-content;
    margin: 0 auto;
    justify-content: center;
    border: 2px solid rgb(140, 62, 149);
  }

  &__cardsContainer {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    //align-items: center;
    border: 2px solid orange;
  }
  .card {
    border: 2px solid rgb(14, 11, 60);
    //flex: 1;
    display: flex;
    width: calc(50% - 4px);
    flex-direction: column;
    object-fit: contain;
  }

  .cardImage {
    display: flex;
    //height: 50vh;
    //width: 50vw;
    //justify-content: center;
    margin-top: auto;
    border: 2px solid rgb(36, 103, 21);
    object-fit: contain;

    max-width: 100%;
  }
  &__card1Image {
    border: 33px solid rgb(27, 31, 141);
    //height: 50vh;
    //width: 50vw;
    //flex: 1;
    display: flex;
    object-fit: contain;

    //width: 100%;
    //max-width: 200px;
    //height: auto;
    //flex-shrink: 0;
    //max-width: 25vw;
    //object-fit: contain;
    //min-height: 0;
  }
  &__card2Image {
    border: 33px solid rgb(27, 31, 141);
    //height: 50vh;
    //width: 50vw;
    //flex: 1;
    display: flex;
    object-fit: contain;

    //width: 100%;
    //max-width: 200px;
    //height: auto;
    //flex-shrink: 0;
    //max-width: 25vw;
    //object-fit: contain;
    //min-height: 0;
  }
}

.footer-Container {
  background-color: rgb(100, 19, 19);
  color: azure;
  display: flex;

  &__footerLinks {
    display: flex;
    width: 100%;
    border: 2px solid rgb(0, 85, 255);
    justify-content: space-between;
  }
  &__footerText {
    display: flex;
    justify-content: center;
    font-size: large;
    align-content: center;
  }

  &__footerHyperlinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid rgb(236, 21, 21);
    width: 30%;
    align-items: center;
  }

  .icon {
    display: flex;
    width: 2.5rem;
  }
  &__hlinkedicons {
    display: flex;
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
  }
}
